/* General styles */
body {
   margin: 0;
   background: #F8F8FF; /* AliceBlue background */
   color: #2F4F4F; /* Dark slate gray text */
   font-family: "Euclid Circular A", "Poppins", sans-serif;
 }
 
 /* Navigation bar styles */
 .navbar {
   position: sticky;
   z-index: 1;
   top: 0;
   width: 96.%;
   height: 88px;
   padding: 0 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #008B8B; /* Dark cyan background */
   backdrop-filter: blur(5px);
   backface-visibility: hidden;
   transform: translateZ(0px);
   transition: 0.3s;
 }
 .navbar button {
   background-color: #cd6116; /* Dark orange background */
   color: #FFF; /* White text */
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }
 .navbar button:hover {
   background-color: #FF4500; /* Orange red on hover */
 }
 
 /* Main content styles */
 .main-content {
   padding: 10px 30px;
 }
 
 /* Form container styles */
 .form-section {
   display: flex;
   flex-direction: row;
   gap: 10px;
   padding-left: 20px;
   padding-top: 20px;
   background-color: #E0FFFF; /* Light cyan background */
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
   width: 100%;
 }
 .form-container {
   display: flex;
   flex-direction: row;
   gap: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: #B0E0E6; /* Powder blue background */
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
   width: 100%;
 }
 
 /* Form section styles */
 .form-section {
   display: flex;
   padding: 20px;
   flex-direction: column; /* Stack items vertically */
   gap: 10px; /* Add spacing between items */
   width: 45%; /* Ensure it takes full width */
   margin: 20px;
 }
 
 /* Graph container styles */
#graph-container {
   flex: 1;
   min-height: 400px; /* Example: Set a minimum height */
   background-color: #E0FFFF; /* Light cyan background for graph container */
   border-radius: 10px; /* Rounded corners */
   padding: 20px; /* Add some padding inside */
   margin: 20px;
   display: flex; /* Use flexbox for layout */
   flex-direction: column; /* Stack items vertically */
   gap: 10px; /* Add spacing between items */
   width: 45%; /* Ensure it takes full width */
 }
 
 
 
 /* Input and button styles */
 .form-container input,
 .form-container button {
   padding: 10px;
   border: none;
   border-radius: 5px;
   background-color: #F5F5DC; /* Beige background */
   color: #2F4F4F; /* Dark slate gray text */
 }
 .form-container button {
   background-color: #FF8C00; /* Dark orange background */
   color: #FFF; /* White text */
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 .form-container button:hover {
   background-color: #FF4500; /* Orange red on hover */
 }
 
 /* Responsive styles */
 @media (max-width: 768px) {
   .navbar {
     flex-direction: column;
     align-items: flex-start;
   }
   .form-container {
     flex-direction: column;
   }
 }